body {
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column
}
.payouts {
  margin: 10px auto 0px;
}

.hand {
  margin: 10px auto 0px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 5px 25px 5px;
  text-align: center;
}

img {
    height: 200px;
    max-width: 200px;
}

.hold {
    border-style: solid;
    border-color: red;
  }

.currentBet {
  background-color: yellow;
}

.winningValue {
  background-color: green;
}

.bet-panel {
  display: flex;
  margin: 10px auto 100px;
  width: 80%;
  justify-content: space-around;
  max-width: 600px;
}

.bet-panel input {
 height: 45px;
 width: 70px;
}

.bet-panel label {
  margin: auto 0;
}

.bold {
  font-weight: bold;
}