img {
    height: 200px;
    max-width: 200px;
}

.hold {
    border-style: solid;
    border-color: red;
  }

.currentBet {
  background-color: yellow;
}

.winningValue {
  background-color: green;
}